.login {
	font-weight: light;
	background: url('img/login.png');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;

	@include flexbox;
	@include justify-content(center);
	@include align-items(center);
	@include flex-direction(column);
	

	input, button {
		max-width: 100%;
		width: 100%;;
	}

	.logo {
		padding-bottom: 60px;
		max-width: 120px;
		display: block;
		margin: 0 auto;
		text-align: center;
	}

	form {
		width: 320px;
		max-width: 100%;
	}


	input {
		margin-top: 14px;
		color: #FFF;
		background: rgba(255,255,255,0.15);
		
		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: #FFF;
		}
		&::-moz-placeholder { /* Firefox 19+ */
		  color: #FFF;
		}
		&:-ms-input-placeholder { /* IE 10+ */
		  color: #FFF;
		}
		&:-moz-placeholder { /* Firefox 18- */
		  color: #FFF;
		}
	}

	.username, .password {
		background-repeat: no-repeat;
		
		background-position: center left 15px;
		text-indent: 30px;
	}

	.username {
		background-image: url('img/username.png');
		background-size: 24px 24px;
	}

	.password {
		background-image: url('img/password.png');
		background-size: 24px 29px;
	}

	.btn {
		margin-top: 12px;

	}
}